In [71]:
import pandas as pd
from sklearn import tree

In [79]:
df: pd.DataFrame = pd.read_csv(r"data\raw data\caesar.csv")
df

,index,Unnamed: 0,age,num_children,gender,reported_height,reported_weight,reported_pants_size_waist,reported_pants_size_inseam,bra_size_chest,...,ankle_height_outside,axilla_height,elbow_height,knee_height,radial_stylion_len,sleeve_inseam,sleeve_outseam,acromion_radial_stylion_len,shoulder_len,dataset
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caesar
1,1,1.0,47.0,0.0,male,74.0,345.0,NaN,34.0,NaN,...,3.075,57.440,47.955,20.705,10.955,19.475,24.500,25.260,8.27,caesar
2,2,10.0,50.0,0.0,male,72.0,225.0,38.0,32.0,NaN,...,2.755,54.370,46.145,19.215,10.730,18.505,23.310,23.685,9.06,caesar
3,3,100.0,28.0,0.0,male,73.0,192.0,36.0,33.0,NaN,...,3.230,53.975,45.985,20.470,10.765,18.915,23.660,24.015,8.50,caesar
4,4,103.0,52.0,2.0,male,75.0,253.0,42.0,32.0,NaN,...,3.150,55.710,48.820,20.750,10.815,18.635,23.595,24.175,8.51,caesar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4460,4460,95.0,35.0,0.0,female,59.5,115.0,NaN,NaN,34.0,...,2.640,45.235,38.620,15.790,8.455,15.670,18.170,18.730,7.25,caesar
4461,4461,96.0,40.0,1.0,female,66.0,150.0,NaN,NaN,36.0,...,2.875,50.510,42.835,17.990,9.865,18.310,NaN,NaN,7.96,caesar
4462,4462,97.0,23.0,0.0,female,67.5,168.0,NaN,NaN,36.0,...,2.280,51.375,41.815,18.660,10.540,20.015,22.495,23.240,7.56,caesar
4463,4463,98.0,24.0,0.0,male,68.0,145.0,31.0,30.0,NaN,...,2.560,51.140,43.190,18.230,9.780,18.095,21.045,21.505,7.67,caesar
4464,4464,99.0,22.0,0.0,female,68.0,134.0,NaN,NaN,36.0,...,2.795,51.890,44.335,17.400,9.020,16.810,20.075,20.400,7.56,caesar

In [80]:
df.columns

Index(['index', 'Unnamed: 0', 'age', 'num_children', 'gender',
       'reported_height', 'reported_weight', 'reported_pants_size_waist',
       'reported_pants_size_inseam', 'bra_size_chest', 'bra_size_cup',
       'age_range', 'shoe_size_us', 'ankle_circum', 'spine_to_scye_len',
       'spine_to_elbow_len', 'arm_len_spine_wrist', 'arm_len_shoulder_wrist',
       'arm_len_shoulder_elbow', 'scye_circum', 'chest_circum',
       'chest_circum_below_bust', 'chest_circum_scye', 'jean_inseam',
       'hand_len', 'hip_circum', 'hip_height', 'neck_circum_base',
       'bideltoid_breadth', 'height', 'thigh_circum_proximal', 'u_crotch',
       'waist_circum_preferred', 'waist_height_preferred', 'weight',
       'biacromial_breadth', 'bicristal_breadth', 'bust_to_bust',
       'cervical_height', 'chest_height', 'interscye_dist', 'acromion_height',
       'acromion_radial_len', 'ankle_height_inside', 'ankle_height_outside',
       'axilla_height', 'elbow_height', 'knee_height', 'radial_stylion_len',
       'sleeve_inseam', 'sleeve_outseam', 'acromion_radial_stylion_len',
       'shoulder_len', 'dataset'],
      dtype='object')

In [89]:
filtred_df: pd.DataFrame = df.drop(
    columns = [
        'Unnamed: 0',
        'num_children',
        'reported_height',
        'reported_weight',
        'reported_pants_size_waist',
        'reported_pants_size_inseam',
        'bra_size_chest',
        'bra_size_cup',
        'age_range',
        'ankle_circum',
        'spine_to_scye_len',
        'spine_to_elbow_len',
        'arm_len_spine_wrist',
        'scye_circum',
        'chest_circum',
        'chest_circum_below_bust',
        'chest_circum_scye',
        'jean_inseam',
        'hip_circum',
        'neck_circum_base',
        'bideltoid_breadth',
        'thigh_circum_proximal',
        'u_crotch',       
        'waist_circum_preferred',
        'waist_height_preferred',
        'biacromial_breadth',
        'bicristal_breadth',
        'bust_to_bust',
        'cervical_height',
        'interscye_dist',
        'acromion_height',
        'acromion_radial_len',
        'ankle_height_inside',
        'ankle_height_outside',       
        'axilla_height',
        'radial_stylion_len',       
        'sleeve_inseam',
        'sleeve_outseam',
        'acromion_radial_stylion_len',
        'dataset'
        ]).iloc[1:]

In [90]:
filtred_df

,index,age,gender,shoe_size_us,arm_len_shoulder_wrist,arm_len_shoulder_elbow,hand_len,hip_height,height,weight,chest_height,elbow_height,knee_height,shoulder_len
1,1,47.0,male,12.0,27.44,14.84,8.62,38.27,73.70,345.0,54.49,47.955,20.705,8.27
2,2,50.0,male,12.0,25.55,13.50,8.82,36.42,71.10,216.0,52.36,46.145,19.215,9.06
3,3,28.0,male,12.0,25.75,13.74,8.27,35.91,71.93,196.5,51.50,45.985,20.470,8.50
4,4,52.0,male,11.0,26.02,13.31,8.03,37.56,73.19,249.5,53.54,48.820,20.750,8.51
5,5,50.0,male,12.0,27.32,14.29,8.58,35.83,72.09,238.5,52.13,46.575,21.025,8.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4460,4460,35.0,female,6.0,20.39,10.63,6.89,27.48,60.16,108.5,43.23,38.620,15.790,7.25
4461,4461,40.0,female,8.5,22.87,11.57,7.24,32.91,66.38,149.0,48.11,42.835,17.990,7.96
4462,4462,23.0,female,9.0,25.31,13.39,7.48,33.94,66.34,162.5,47.01,41.815,18.660,7.56
4463,4463,24.0,male,8.0,22.72,11.61,7.48,33.46,67.13,143.5,48.58,43.190,18.230,7.67
4464,4464,22.0,female,7.0,22.24,11.54,7.05,31.73,67.09,135.0,48.82,44.335,17.400,7.56

In [91]:
filtred_df.all()

index                     True
age                       True
gender                    True
shoe_size_us              True
arm_len_shoulder_wrist    True
arm_len_shoulder_elbow    True
hand_len                  True
hip_height                True
height                    True
weight                    True
chest_height              True
elbow_height              True
knee_height               True
shoulder_len              True
dtype: bool

In [92]:
filtred_df.drop_duplicates()

,index,age,gender,shoe_size_us,arm_len_shoulder_wrist,arm_len_shoulder_elbow,hand_len,hip_height,height,weight,chest_height,elbow_height,knee_height,shoulder_len
1,1,47.0,male,12.0,27.44,14.84,8.62,38.27,73.70,345.0,54.49,47.955,20.705,8.27
2,2,50.0,male,12.0,25.55,13.50,8.82,36.42,71.10,216.0,52.36,46.145,19.215,9.06
3,3,28.0,male,12.0,25.75,13.74,8.27,35.91,71.93,196.5,51.50,45.985,20.470,8.50
4,4,52.0,male,11.0,26.02,13.31,8.03,37.56,73.19,249.5,53.54,48.820,20.750,8.51
5,5,50.0,male,12.0,27.32,14.29,8.58,35.83,72.09,238.5,52.13,46.575,21.025,8.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4460,4460,35.0,female,6.0,20.39,10.63,6.89,27.48,60.16,108.5,43.23,38.620,15.790,7.25
4461,4461,40.0,female,8.5,22.87,11.57,7.24,32.91,66.38,149.0,48.11,42.835,17.990,7.96
4462,4462,23.0,female,9.0,25.31,13.39,7.48,33.94,66.34,162.5,47.01,41.815,18.660,7.56
4463,4463,24.0,male,8.0,22.72,11.61,7.48,33.46,67.13,143.5,48.58,43.190,18.230,7.67
4464,4464,22.0,female,7.0,22.24,11.54,7.05,31.73,67.09,135.0,48.82,44.335,17.400,7.56

In [98]:
gender_values: list[int] = filtred_df["gender"].tolist()

In [136]:
measurement_values: list[list[int]] = filtred_df.loc[
    :,
    [
        "index",
        "age",
        "shoe_size_us",
        "arm_len_shoulder_wrist",
        "arm_len_shoulder_elbow",
        "hand_len",
        "hip_height",
        "height",
        "weight",
        "chest_height",
        "elbow_height",
        "knee_height",
        "shoulder_len"
    ]
    ].to_dict("split")["data"]