In [53]:
import os
import pandas as pd
from sklearn import tree

In [54]:
df: pd.DataFrame = pd.read_csv(r"data\raw data\caesar.csv")

In [55]:
df

,index,Unnamed: 0,age,num_children,gender,reported_height,reported_weight,reported_pants_size_waist,reported_pants_size_inseam,bra_size_chest,...,ankle_height_outside,axilla_height,elbow_height,knee_height,radial_stylion_len,sleeve_inseam,sleeve_outseam,acromion_radial_stylion_len,shoulder_len,dataset
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,caesar
1,1,1.0,47.0,0.0,male,74.0,345.0,NaN,34.0,NaN,...,3.075,57.440,47.955,20.705,10.955,19.475,24.500,25.260,8.27,caesar
2,2,10.0,50.0,0.0,male,72.0,225.0,38.0,32.0,NaN,...,2.755,54.370,46.145,19.215,10.730,18.505,23.310,23.685,9.06,caesar
3,3,100.0,28.0,0.0,male,73.0,192.0,36.0,33.0,NaN,...,3.230,53.975,45.985,20.470,10.765,18.915,23.660,24.015,8.50,caesar
4,4,103.0,52.0,2.0,male,75.0,253.0,42.0,32.0,NaN,...,3.150,55.710,48.820,20.750,10.815,18.635,23.595,24.175,8.51,caesar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4460,4460,95.0,35.0,0.0,female,59.5,115.0,NaN,NaN,34.0,...,2.640,45.235,38.620,15.790,8.455,15.670,18.170,18.730,7.25,caesar
4461,4461,96.0,40.0,1.0,female,66.0,150.0,NaN,NaN,36.0,...,2.875,50.510,42.835,17.990,9.865,18.310,NaN,NaN,7.96,caesar
4462,4462,97.0,23.0,0.0,female,67.5,168.0,NaN,NaN,36.0,...,2.280,51.375,41.815,18.660,10.540,20.015,22.495,23.240,7.56,caesar
4463,4463,98.0,24.0,0.0,male,68.0,145.0,31.0,30.0,NaN,...,2.560,51.140,43.190,18.230,9.780,18.095,21.045,21.505,7.67,caesar
4464,4464,99.0,22.0,0.0,female,68.0,134.0,NaN,NaN,36.0,...,2.795,51.890,44.335,17.400,9.020,16.810,20.075,20.400,7.56,caesar